.bob {
  float: left;
  width: 35%;
  height: 300px;
  background-color: #4abbd9;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.scoreButton {
	box-shadow: 0px 0px 0px 2px #4bb688;
	background-color:#4bb688;
	border-radius:7px;
	border:2px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Impact;
	font-size:36px;
	padding:12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    margin:10px;
    width:530px;
    height:45px;
    text-align:center;
}
.scoreButton:hover {
	background-color:#4ac7db;
}
.scoreButton:active {
	position:relative;
	top:1px;
}

/* Navigation Bar*/
nav {
  
  position: relative;
  width: 1000px;
  height: 50px;
  background-color: #4BB688;
  border-radius: 8px;
  font-size: 0;
  margin: auto;

}

nav a {
  line-height: 50px;
  height: 100%;
  font-size: 25px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Segoe UI;


}

nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}

a:nth-child(1) {
  width: 200px;
}

a:nth-child(2) {
  width: 200px;
}

a:nth-child(3) {
  width: 200px;
}

a:nth-child(4) {
  width: 200px;
}

a:nth-child(5) {
  width: 200px;
}

nav .start-home,
a:nth-child(1):hover~.animation {
  width: 200px;
  left: 0;
  background-color: #4ABBD9;
}

nav .start-food,
a:nth-child(2):hover~.animation {
  width: 200px;
  left: 200px;
  background-color: #FFE04F;
}

nav .start-course,
a:nth-child(3):hover~.animation {
  width: 200px;
  left: 400px;
  background-color: #FF87B5;
}

nav .start-prices,
a:nth-child(4):hover~.animation {
  width: 200px;
  left: 600px;
  background-color: #AAE9BE;
}

nav .start-contact,
a:nth-child(5):hover~.animation {
  width: 200px;
  left: 800px;
  background-color: #FAAD83;
}

/* --------------------- */


body {
  font-size: 12px;
  font-family: Calibri;
  background: #FFFFFF;

}

h1 {
  text-align: center;
  font-size: 30px;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000;
  font-family: Calibri;
  margin-top:5px
}


p {
  color: #000000;
  font-family: calibri;
  font-size: 18px;
  margin:10px
}

footer {
  width: 1000px;
  height: 30px;
  background-color: #FBEA7E;
  border-radius: 8px;
  margin: auto;
}

.selected {
  color: #142850;
}

.home {
  background-color: #4ABBD9;

}

.food {
  background-color: #FFE04F;

}
.course {
  background-color: #FF87B5;
}

.prices {
  background-color: #AAE9BE;

}

.contact {
  background-color: #FAAD83;

}

main {
  width: 1000px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin: auto;
  margin-top: 10px;
}

header {
  width: 1000px;
  height: 100px;
  border-radius: 8px;
  margin: auto;
  margin-bottom: 5px;
}

.heed{
  height:90px;
  width: 90px;
  display: inline;
  float: left;
  margin: 10px;
}
.heed2{
  height:90px;
  width: 90px;
  display: inline;
  float: right;
  margin: 10px;
}

.mainImage{
  float:left;
  width: 400px;
  height: 400px;
  margin: 10px;
  border-radius: 8px;
  
}

.left{width:25%;display:inline;float:left;padding:10px}
#openscreen{width:70%;height:auto;display:inline;float:left;padding:10px;}


h2 {
  text-align: left;
  font-size: 25px;
  color: #FFFFFF;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;;
  font-family: Calibri;
  margin:10px
}


li {
  width: 100%;
  color: #000000;
  font-family: calibri;
  font-size: 22px;
  margin:10px
}

.coursePic{
	width:400px;
	height:500px;
	float:right;
	margin:10px;
	border-radius:8px;}

.foodPic{
	width:400px;
	float:right;
	margin:10px;
	border-radius:8px;}
	

.button{
	width:400px;
	height:72.5px;
	margin:10px;
}

#diffMenu{
	width: 405px;
	height:75px;
	margin:0 10 10 10;
	float:left;
}

#menus{font-family:impact;font-size:20px;padding:10px;width:400px}

#subby{
	width: 205px;
	height:45px;
	padding: 10px;
	margin:0 10 10 10;
	float:left;
	font-family:impact;
}

.foodButton{
	width:200px;
	height:50px;
	font-family:impact;
	font-size:20px;
	background-color:#AAE9BE;
	border-color:#FFFFFF;
	border-radius:8px;
	cursor:pointer;
	color:#FFFFFF;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.contactButton{
	width:200px;
	height:50px;
	font-family:impact;
	font-size:20px;
	background-color:#FAAD83;
	border-color:#FFFFFF;
	border-radius:8px;
	cursor:pointer;
	color: #FFFFFF;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.contactLeft{
	width: 460px;
	height:375px;
	background-color:#AAE9BE;
	padding: 10px;
	margin:0 10 10 0;
	float:left;
	border-radius: 8px
}
#contactRight{
	width: 460px;
	height:375px;
	background-color:#AAE9BE;
	padding: 10px;

	float:left;
	border-radius: 8px
}

form{
  color: #000000;
  font-family: calibri;
  font-size: 18px;
  margin:10px
}

input {border-radius: 8px;font-size: 18px;padding: 5px;}
#topic{font-family:Calibri;font-size:18px;padding:10px;width:400px}